.container {
  margin-top: 50px;
}

.title {
  color: var (--softTextColor);
  margin-bottom: 30px;
}

.write {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.input {
  padding: 20px;
  width: 100%;
  margin-bottom: 50px;
}

.button {
  padding: 16px 20px;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: bold;
  cursor: pointer;
  margin-top: -48px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 17px;
}

.image {
  border-radius: 50%;
  object-fit: cover;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.userName {
  font-size: 14px;
  font-weight: 500;
}

.date {
  font-size: 14px;
  font-weight: 500;
}

.comments {
  margin-bottom: 50px;
}

.comment {
  margin-bottom: 50px;
}
